.hero-banner-background {
  background-size: cover;

  &.parallax {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

.hero-banner-container {
  min-height: 700px;
  @media (max-width: 768px) {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .hero-banner {
    min-height: 700px;
  }
}
