@import "~video-react/styles/scss/video-react";
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');
@import url('Jumbotron.scss');
@import url('Video.scss');
@import url('Image.scss');
@import url('HeroBanner.scss');
@import url('Media.scss');
@import url('Carousel.scss');
@import url('SplitColumnBlock.scss');
@import url('Testimonials.scss');
@import url('PostCollection.scss');


* {
  font-family: 'Work Sans';
}

.transparent {
  background-color: transparent;
}

.clear-padding {
  padding: 0;
}

.box {
  width: 100px;
  height: 100px;
  background: #ff1c68;
  transform-origin: 50% 50%;
}

a {
  transition: .3s all ease;
  color: #000;

  &:hover {
    text-decoration: none;
    color: #565656;
  }
}
